<div class="light">
  <div id="messages">
    <%= render "messages" %>
  </div>
  
  <div class="center loading" style="display: none"><%= image_tag "spinner.gif" %></div>
  
  <hr />
  
  <%= form_for PublicMessage.new, :url => messages_path, :remote => true do |f| %>
    <%= f.text_area :content %>
    <div class="controls">
      <%= f.submit "Send" %>
    </div>
  <% end %>
</div>