<div class="light">
  <% @messages.each do |message| %>
    <%= div_for message do %>
      <span><%= l message.created_at, :format => "[%I:%M%p]" %> </span><b><%= message.from %> says:</b> <span><%= message.content %></span>
    <% end %>
  <% end %>
  
  <hr />
  
  <%= form_for PublicMessage.new, :url => messages_path do |f| %>
    <%= f.text_area :content %>
    <div class="controls">
      <%= f.submit "Send" %>
    </div>
  <% end %>
</div>